<html>
    <head>
        <title>CUHACTF_Challenges</title>
        <%-include('../common/sub_head.ejs') %>
        <%-include('../common/header.ejs') %>
        <link rel="stylesheet" href="../../stylesheets/rules.css">
    </head>

    <body>
        <div class="content-box">
            <div class="title">Rules</div>
            <p>1. Flag 형식은 CUHA{This_is_just_example_flag}입니다.</p>
            <p>2. 대회 인프라에 대한 공격 행위는 금지입니다.</p>
            <p>3. 대회 운영 및 다른 참가자에 대한 방해 행위는 금지입니다.</p>
            <p>4. Flag, 솔루션, 힌트 등의 공유는 금지입니다.</p>
            <P>5. chatGPT와 같은 AI 챗봇 사용은 금지입니다.</P>
            <p>6. 그 외에 운영진이 부적절하다고 판단하는 행위는 제재를 받을 수 있습니다.</p>
            <p>7. 운영진은 최종 결정 권한을 가집니다.</p>
            <p>8. 기타 문의사항은 운영진에게 말씀해 주시기 바랍니다.</p>
        </div>
    </body>
</html>